<h1>Job Details <small>for <%= @jobid %></small></h1>
<br />
<a class="btn btn-primary" href="<%= url("/jobs") %>">Back</a>
<br />
<br />
<pre><%= @jobstats %></pre>
<a class="btn btn-primary" href="<%= url("/jobs") %>">Back</a>
<% if ! @images.empty? %>
    <div>
        <% for image in @images %>
            <img src="https://ondemand-test.osc.edu/pun/sys/files/api/v1/fs<%= image %>">
        <% end %>
    </div>
<% end %>

